@import url("./root.css");
body{
    background-image: linear-gradient(rgba(6, 22, 42, 0.8), rgba(6, 22, 42, 0.8)),
                        url("../assets/bar_background.jpg");
    background-size: cover;
    font-family: var(--font-family-primaria);
}

h1{
    font-size: 62px;
    color: var(--branco-primario);
    text-align: center;
    margin-top: 130px;
}

#loading{
    color: transparent;
}

#pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    margin-top: 15px;
}

#pesquisa input{
    background-color: var(--branco-primario);
    width: 734px;
    height: 48px;
    border-radius: 18px;
    border: none;
    padding: 5px 5px 5px 15px;
}

#pesquisa input:focus{
   outline: none;
}

#pesquisa button {
    border: none;
    border-radius: 18px;
    height: 48px;
    width: 200px;
    background-color: var(--dourado-primario);
    font-size: 16px;
}

#ui-id-1 {
    background-color: var(--branco-primario);
    font-family: var(--font-family-primaria);
    width: 734px;
}

.ui-menu-item {
    padding: 5px 5px 5px 15px;
}

.ui-helper-hidden-accessible{
    display: none;
}

.ui-autocomplete { 
    height: 300px; 
    overflow-y: scroll; 
    overflow-x: hidden;
}


#modal {
    background: var(--branco-primario);
    max-width: 900px;
    display: none;
}


#modal_conteudo{
    text-align: center;
}

#modal_info-drink{
    display: flex;
}

#modal_indo-drink-foto{
    height: 200px;
    width: 25%;
    border-radius: 12px;
    margin-right: 20px;
}

#modal_info-drink-preparo{
    flex-direction: column;
    height: 200px;
    overflow-y: visible; 
    overflow-x: hidden;
}

#modal_info-drink-preparo-instrucao{
    margin-top: 12px;
    height: 50%;
}

.ingrediente{
    list-style: none;
}





/* #modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal_conteudo{
    background-color: var(--branco-primario);
    border-radius: 22px;
    margin: 15% auto;
    width: 60%;
    padding: 12px;
    text-align: center;
}

#modal_nome-drink{
    color: var(--azul-primario);
    font-size: 54px;
}

#modal_info-drink{
    display: flex;
}

#modal_info-drinl-preparo{
    flex-direction: column;
} */


/* .drink {
    display: flex;
    flex-direction: row;
} */